:root {
  --tvarka-button-bg-color: #2a2b2b;
  --tvarka-button-fg-color: #2a2b2b;
  --tvarka-button-border-radius: 0px;
  --tvarka-button-hover-bg-color: #2a2b2b;
  --tvarka-button-hover-fg-color: #ffffff;
  --tvarka-button-oos-bg-color: #e0e0e0;
  --tvarka-button-oos-fg-color: #666666;
  --tvarka-button-oos-border-radius: 0px;
  --tvarka-card-bg-color: #ffffff;
  --tvarka-card-fg-color: #2a2b2b;
  --tvarka-card-border-color: #cccccc;
  --tvarka-notification-container-order: 1;
  --tvarka-main-container-order: 2;
  --tvarka-price-fg-color: #2a2b2b;
  --tvarka-compare-at-price-fg-color: #2a2b2b;
  --tvarka-quantity-selector-bg-color: #ffffff;
  --tvarka-quantity-selector-fg-color: #2a2b2b;
  --tvarka-quantity-selector-border-color: #2a2b2b;
  --tvarka-quantity-selector-corner-radius: 0px;
  --tvarka-widget-desktop-display: flex;
  --tvarka-widget-mobile-display: flex;
}

.tvarka-satc__u-inherit-font-family {
  font-family: inherit;
}

.tvarka-satc__u-cursor-pointer {
  cursor: pointer;
}

.tvarka-satc__u-transition-default {
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.tvarka-satc__u-flex-row {
  display: flex;
  flex-direction: row;
}

.tvarka-satc__u-opacity-0 {
  opacity: 0;
}

.tvarka-satc__u-top-0 {
  top: 0px;
}

.tvarka-satc__u-bottom-0 {
  bottom: 0px;
}

.tvarka-satc__u-border-top {
  border-top: 1px solid;
}

.tvarka-satc__u-border-bottom {
  border-bottom: 1px solid;
}

.tvarka-satc__u-collapse {
  opacity: 0;
  visibility: collapse;
}

.tvarka-satc__u-hidden {
  visibility: hidden;
}

.tvarka-satc__u-display-none {
  display: none;
}

.tvarka-satc__u-line-wrap-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.tvarka-satc__loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block !important;
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--tvarka-button-fg-color);
  animation: tvarka-animation__spinning-wheel--clip 0.8s infinite linear
      alternate,
    tvarka-animation__spinning-wheel--transform 1.6s infinite linear;
}

.tvarka-satc__widget {
  display: var(--tvarka-widget-mobile-display);
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 10;
  left: 0;
}

.tvarka-satc__notification-container {
  align-items: center;
  padding: 14px 16px;
  background-color: var(--tvarka-card-bg-color);
  color: var(--tvarka-card-fg-color);
  order: var(--tvarka-notification-container-order);
}

.tvarka-satc__notification-container__success {
  justify-content: center;
}

.tvarka-satc__notification-container__error {
  justify-content: flex-start;
}

.tvarka-satc__notification-icon {
  width: 16px;
  height: 16px;
  margin: 0px 6px 0px 0px;
  padding: 0px;
}

.tvarka-satc__notification-text {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 140%;
  padding: 0px;
  margin: 0px;
}

.tvarka-satc_main_container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "info pricing"
    "info cta";
  align-items: center;
  border-color: var(--tvarka-card-border-color);
  padding: 14px 16px 20px 16px;
  background-color: var(--tvarka-card-bg-color);
  order: var(--tvarka-main-container-order);
}

.tvarka-satc__main-container--full-row-cta-area {
  grid-template-areas:
    "info pricing"
    "cta cta";
}

.tvarka-satc__main-container--no-info-area {
  grid-template-areas:
    ". pricing ."
    "cta cta cta";
  grid-template-columns: 1fr auto 1fr;
}

.tvarka-satc__main-container--no-pricing-area {
  grid-template-areas:
    "info cta"
    "info cta";
}

.tvarka-satc__product-info-container {
  display: flex;
  grid-area: info;
  align-items: center;
  min-width: 0px;
}

.tvarka-satc__cta-container {
  grid-area: cta;
  text-align: center;
  align-items: center;
}

.tvarka-satc__product-image {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-right: 10px;
  opacity: 1;
}

.tvarka-satc__title-option-container {
  width: 100%;
  margin-right: 12px;
  overflow: hidden;
}

.tvarka-satc__product-title {
  font-weight: 600;
  font-size: 0.875em;
  line-height: 140%;
  color: var(--tvarka-card-fg-color);
  margin: 0px;
  overflow: hidden;
  text-align: left;
}

.tvarka-satc__option-container {
  margin-top: 8px;
}

.tvarka-satc__selector {
  appearance: none;
  background: transparent;
  background-repeat: no-repeat !important;
  background-position: right !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: none;
}

.tvarka-satc__quantity-selector {
  width: auto;
  height: auto;
  border: 1px solid var(--tvarka-quantity-selector-border-color);
  background-color: var(--tvarka-quantity-selector-bg-color);
  color: var(--tvarka-quantity-selector-fg-color);
  border-radius: var(--tvarka-quantity-selector-corner-radius);
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  padding: 8px 28px 8px 10px;
  background-position: calc(100% - 10px) center !important;
}

.tvarka-satc__pricing-container--row .tvarka-satc__quantity-selector {
  margin-right: 16px;
}

.tvarka-satc__option-selector {
  min-width: 0px;
  height: auto;
  border: none;
  margin: 0px;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 120%;
  padding: 0px 16px 0px 0px;
  outline: none;
  color: var(--tvarka-card-fg-color);
}

.tvarka-satc__option-selector--spaced {
  margin-left: 12px;
}

.tvarka-satc__pricing-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  grid-area: pricing;
  align-items: center;
}

.tvarka-satc__pricing-container--row {
  flex-direction: row;
}

.tvarka-satc__product-price-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.tvarka-satc__pricing-container--row .tvarka-satc__product-price-layout {
  order: 2;
  margin-bottom: 0px;
}

.tvarka-satc__product-price {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 100%;
  padding: 0px;
  margin: 0px !important;
  white-space: nowrap;
  color: var(--tvarka-price-fg-color);
}

.tvarka-satc__product-price--before-discount {
  font-size: 0.75em;
  text-decoration: line-through;
  margin: 0px 6px 0px 0px !important;
  color: var(--tvarka-compare-at-price-fg-color);
}

.tvarka-satc__product-price--after-discount {
  font-weight: 600;
}

.tvarka-satc__button-primary {
  position: relative;
  width: 92px;
  height: auto;
  border: none;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 120%;
  padding: 12px 10px;
  text-align: center;
  margin: 0px;
  background-color: var(--tvarka-button-bg-color);
  color: var(--tvarka-button-fg-color);
  border-radius: var(--tvarka-button-border-radius);
}

.tvarka-satc__button-primary.large {
  margin-top: 0px !important;
}

.tvarka-satc__main-container--no-info-area .tvarka-satc__button-primary,
.tvarka-satc__main-container--full-row-cta-area .tvarka-satc__button-primary {
  margin-top: 14px;
  width: 100%;
  padding: 14px 10px;
}

.tvarka-satc__button-primary--loading {
  display: inline-block;
  pointer-events: none;
}

.tvarka-satc__button-primary:hover {
  background-color: var(--tvarka-button-hover-bg-color);
  color: var(--tvarka-button-hover-fg-color);
}

.tvarka-satc__button-primary:disabled {
  background-color: var(--tvarka-button-oos-bg-color);
  color: var(--tvarka-button-oos-fg-color);
  border-radius: var(--tvarka-button-oos-border-radius);
}

.tvarka-satc__button-primary:disabled:hover {
  cursor: default;
}

/* Mobile - Medium */
@media ((min-width: 361px) and (max-width:390px)) {
  .tvarka-satc__button-primary {
    width: 96px;
    padding: 8px 12px 8px 12px;
  }
}
/* Mobile - Large */
@media (min-width: 391px) and (max-width: 600px) {
  .tvarka-satc__button-primary {
    width: 104px;
    padding: 10px 12px 10px 12px;
  }
}

/* Tablet & Desktop */
@media ((min-width: 601px)) {
  .tvarka-satc__widget {
    display: var(--tvarka-widget-desktop-display);
  }

  .tvarka-satc_main_container {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    grid-template-areas: "info pricing cta";
  }

  .tvarka-satc__main-container--no-info-area {
    grid-template-areas: ". pricing cta .";
    grid-template-columns: 1fr auto auto 1fr;
  }

  .tvarka-satc__main-container--no-pricing-area {
    grid-template-columns: 1fr auto;
    grid-template-areas: "info cta";
  }

  .tvarka-satc__notification-icon {
    width: 20px;
    height: 20px;
  }

  .tvarka-satc__pricing-container {
    flex-direction: row;
    align-items: center;
  }

  .tvarka-satc__product-price-layout {
    order: 2 !important;
    margin-bottom: 0px;
  }

  .tvarka-satc__option-selector--spaced {
    margin-left: 16px;
  }

  .tvarka-satc__option-container {
    margin-top: 10px;
  }

  .tvarka-satc__quantity-selector {
    padding: 13px 28px 13px 10px;
    font-size: 1.325rem;
  }

  .tvarka-satc__button-primary {
    font-size: 1em;
  }

  .tvarka-satc__main-container--no-info-area .tvarka-satc__button-primary,
  .tvarka-satc__main-container--full-row-cta-area .tvarka-satc__button-primary {
    margin-top: 0px;
    width: 100%;
  }

  .tvarka-satc__loader {
    width: 20px;
  }
}

/* Tablet */
@media ((min-width: 601px) and (max-width:1279px)) {
  .tvarka-satc__notification-container {
    padding: 16px;
  }

  .tvarka-satc_main_container {
    padding: 16px;
  }

  .tvarka-satc__product-image {
    width: 56px;
    height: 56px;
  }

  .tvarka-satc__title-option-container {
    margin-right: 24px;
  }

  .tvarka-satc__product-title {
    line-height: 120%;
  }

  .tvarka-satc__product-price--before-discount {
    font-size: 0.875em;
    margin: 0px 12px 0px 0px !important;
  }

  .tvarka-satc__product-price-layout {
    margin: 0px 16px 0px 0px !important;
  }

  .tvarka-satc__quantity-selector {
    margin-right: 16px !important;
  }

  .tvarka-satc__button-primary {
    width: 148px;
    padding: 14px 12px;
  }

  .tvarka-satc__button-primary.large {
    width: 340px !important;
  }

  .tvarka-satc__main-container--no-info-area .tvarka-satc__button-primary,
  .tvarka-satc__main-container--full-row-cta-area .tvarka-satc__button-primary {
    width: 148px;
    padding: 14px 12px;
  }
}

/* Desktop */
@media ((min-width: 1280px)) {
  .tvarka-satc__notification-container {
    padding: 16px 60px;
  }

  .tvarka-satc__notification-container__error {
    justify-content: center;
  }

  .tvarka-satc__notification-text {
    font-size: 1em;
    line-height: 100%;
  }

  .tvarka-satc_main_container {
    padding: 16px 60px;
  }

  .tvarka-satc__product-image {
    width: 64px;
    height: 64px;
    margin-right: 24px;
  }

  .tvarka-satc__title-option-container {
    margin-right: 48px;
  }

  .tvarka-satc__product-title {
    font-size: 1em;
    line-height: 120%;
  }

  .tvarka-satc__quantity-selector {
    margin-right: 24px !important;
  }

  .tvarka-satc__option-selector {
    font-size: 1em;
  }

  .tvarka-satc__product-price-layout {
    margin: 0px 24px 0px 0px !important;
  }

  .tvarka-satc__product-price {
    font-size: 1em;
  }

  .tvarka-satc__product-price--before-discount {
    font-size: 1em;
    margin: 0px 12px 0px 0px !important;
  }

  .tvarka-satc__button-primary {
    width: 260px;
    padding: 16px 24px;
  }

  .tvarka-satc__button-primary.large {
    width: 480px !important;
  }

  .tvarka-satc__main-container--no-info-area .tvarka-satc__button-primary,
  .tvarka-satc__main-container--full-row-cta-area .tvarka-satc__button-primary {
    width: 260px;
    padding: 16px 24px;
  }
}

@keyframes tvarka-animation__spinning-wheel--clip {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes tvarka-animation__spinning-wheel--transform {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
