* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 40px;
  border-bottom: 1px solid #eee;
  background: #efd3e8;

}

/* Left */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

/* Center */
.nav-center ul {
  display: flex;
  gap: 24px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

.badge {
  background: #2ecc71;
  color: #fff;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 12px;
  margin-left: 4px;
}

/* Logo */
.logo {
  font-size: 42px;
  font-weight: bold;
  color:black;
  letter-spacing: 3px;
  font-family: 'Brush Script MT', cursive;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 18px;
  position: relative;
}

.icons i {
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #ff4f9a;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}

