* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 40px;
  border-bottom: 1px solid #eee;
  background: #efd3e8;

}

/* Left */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

/* Center */
.nav-center ul {
  display: flex;
  gap: 24px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

.badge {
  background: #2ecc71;
  color: #fff;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 12px;
  margin-left: 4px;
}

/* Logo */
.logo {
  font-size: 42px;
  font-weight: bold;
  color:black;
  letter-spacing: 3px;
  font-family: 'Brush Script MT', cursive;
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 18px;
  position: relative;
}

.icons i {
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #ff4f9a;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}
.hero{
  width: 100%;
  height: 85vh;
  overflow: hidden;
  position: relative;
  background: #fff;

}
.slide{
  width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide.active{
    opacity: 1;
}
.btn {
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  background: #fff;
  box-shadow: 0 0 0 1px #000;
  cursor: pointer;
  font-weight: bold;
}
.products {
  padding: 60px 40px;
}
.products h2 {
  font-size: 48px;
  font-style: italic;
  margin-bottom: 40px;
}
.grid{
    display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}
.card{
    text-align: center;
  font-family: Arial, sans-serif;
}
.img-box{
    position: relative;
  border-radius: 18px;
  overflow: hidden;
}
.img-box img{
width: 100%;
  height: 330px;
  object-fit: cover;
}
.heart {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 22px;
  cursor:pointer;
}
  .tag {
  position: absolute;
  top: 12px;
  left: 12px;
  border: 2px solid hotpink;
  color: hotpink;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
}
.card h3{
     margin: 14px 0 6px;
  font-weight: 500;
}

.rating {
  font-size: 14px;
  color: #000;
}

.rating span {
  color: #777;
  margin-left: 6px;
}
.price {
  margin-top: 6px;
}

.new {
  color: hotpink;
  font-weight: bold;
  margin-right: 6px;
}

.old {
  text-decoration: line-through;
  color: #777;
}